<div class="card shadow" title="{{ card_title|default('') }}">
    {% if card_header is defined %}
        <div class="card-header font-weight-bold text-uppercase {{ card_header_class|default('bg-secondary') }} text-white py-2 px-3">
            {{ card_header }}              
        </div>
    {% endif %}
    <div class="card-body font-weight-bold {{ text_color|default('text-dark') }} py-2">        
        {% block card_body %}
            <div class="d-flex align-items-center justify-content-between">
                <div class="">
                    <span class="">
                        {% block card_main_label %}
                            {{ main_label|default('SIN INFORMACION') }}
                        {% endblock %}
                    </span>
                </div>
                <div class="text-right">
                    <i class="{{ icon|default('bi-check-circle') }}" style="font-size: 2em;"></i>
                </div>
            </div>
        {% endblock %}
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="text-dark stretched-link" href="{{ link_href|default('#') }}" style="text-decoration: none;">
            {{ link_label|default('Ver detalles') }}
        </a>
        <div class="text-dark">
            <i class="{{ icon_footer|default('bi-arrow-right-circle') }}"></i>
        </div>
    </div>
</div>