{% if accordion_id is not defined %}
    {% set accordion_id = 'otrasAcciones'  %}
{% endif %}


<div id="{{ accordion_id }}">
    <div class="card rounded-0">
        <div class="card-header border-left-0 border-right-0 border-bottom-0" id="heading{{ accordion_id }}">
            <h5 class="mb-0 text-right">
                <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapse{{ accordion_id }}" aria-expanded="false" 
                   aria-controls="collapse{{ accordion_id }}" style="text-decoration: none;vertical-align: sub;">                    
                    Otras acciones
                    <i class="bi-caret-down-fill"></i>
                </a>
            </h5>
        </div>

        <div id="collapse{{ accordion_id }}" class="collapse" aria-labelledby="heading{{ accordion_id }}" data-parent="#{{ accordion_id }}">
            <div class="card-body">
                {% block otras_acciones %}
                {% endblock %}
            </div>
        </div>
    </div>           
</div>