<div class='table-responsive table-shadow'>
    <table class="table table-bordered">    
        <tbody>
            <tr>
                <td class='font-weight-bold bg-light text-right w-25'>
                    Tipo de error:
                </td>
                <td>
                    <span class="{{ css_text_color|default('') }} font-weight-bold text-uppercase">
                        {{ status_code }} - {{ msg_error_titulo|default('Error') }}
                    </span>
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold bg-light text-right'>
                    Aplicación:
                </td>
                <td>
                    {{ bt_app_codigo|default('APP')|upper }} ({{ bt_app_codigo|default('app_codigo') }})
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold bg-light text-right'>
                    URL:
                </td>
                <td>
                    {{ app.request.uri }}
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold bg-light text-right'>
                    Fecha y hora:
                </td>
                <td>
                    {{ 'now'|date('d/m/Y H:i') }} Hs.
                </td>
            </tr>
            <tr>
                <td class='font-weight-bold bg-light text-right'>
                    Usuario:
                </td>
                <td>
                    {{ app.user|default('Usuario') }}
                </td>
            </tr>
        </tbody>
    </table>
</div>    