<li class="nav-item dropdown">
    <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bell fa-fw text-secondary"></i>
        <span class='notification-dot'></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdown">
        {% from '@CajaSBAdminTheme/macros.html.twig' import notificacion_navbar %}

        {{ notificacion_navbar('Notificacion success', 'Aliquam feugiat enim at feugiat. Nulla luctus magna, sed tincidunt purus ullamcorper in...', 'success', 'fa-solid fa-check') }}
        {{ notificacion_navbar('Notificacion info', 'Aliquam feugiat enim at feugiat. Nulla luctus magna, sed tincidunt purus ullamcorper in...', 'info', 'fa-solid fa-circle-info') }}
        {{ notificacion_navbar('Notificacion danger', 'Aliquam feugiat enim at feugiat. Nulla luctus magna, sed tincidunt purus ullamcorper in...', 'danger', 'fa-solid fa-triangle-exclamation') }}
        {{ notificacion_navbar('Notificacion warning', 'Aliquam feugiat enim at feugiat. Nulla luctus magna, sed tincidunt purus ullamcorper in...', 'warning') }}

        <li class="py-2 text-center">
            <a href="#" class="btn btn-sm btn-outline-secondary">
                Ver todas
            </a>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        <i class="fas fa-user fa-fw"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#!">Ajustes</a></li>
        <a class="dropdown-item get-info-usuario" href="#" data-username="{{ app.user ? app.user.username : '' }}">
            Mis datos
        </a>
        <li>
            <hr class="dropdown-divider"/>
        </li>
        <li>
            <a href="{{ logout_route is defined ? path(logout_route) : '#' }}" class="dropdown-item on-cerrar-sesion"
               title="Cerrar sesión">
                Cerrar sesi&oacute;n
            </a>
        </li>
    </ul>
</li>