<nav class="sb-topnav navbar navbar-expand navbar-{{ color|default('primary') }} bg-{{ color|default('primary') }}" id="navbar">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="https://santafe.gob.ar/" target="_blank">
        {% block navbar_logo %}
            <img src="{{ bt_logo_gob_stafe|default('') }}" class="img-fluid" alt="Santa Fe">
        {% endblock %}
        <div class="d-inline-block pl-lg-3">
            <div class="app-name text-primary fst-italic ">
                {% block navbar_app_name %}
                    <h4 class="d-inline-block mb-0 fw-bold">
                            {{ (bt_app_nombre|default('app'))|upper }}
                    </h4>
                {% endblock %}
                <small class="fs-6">
                    {% block navbar_app_version %}
                        {{ bt_app_version|default('v0.0') }}
                    {% endblock %}
                </small>
            </div>
        </div>
    </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 text-secondary" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>



    <!-- Navbar Search-->
    {% block searchTop %}
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                       aria-describedby="btnNavbarSearch"/>
                <button class="btn btn-secondary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    {% endblock %}

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Ajustes</a></li>
                <a class="dropdown-item get-info-usuario" href="#" data-username="{{ app.user ? app.user.username : '' }}">
                    Mis datos
                </a>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li>
                    <a href="{{ logout_route is defined ? path(logout_route) : '#' }}" class="dropdown-item on-cerrar-sesion" title="Cerrar sesión">
                        Cerrar sesi&oacute;n
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>