{% extends '@CajaSBAdminTheme/base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            Dashboard
        </li>
    </ol>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/cajasbadmintheme/css/charts.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    {% from '@CajaSBAdminTheme/macros.html.twig' import notificacion_basic %}

    <div class="row mb-4">
        <div class="col-xl-3 col-md-6">
            {{ notificacion_basic('Info Card', 'info', 'Ver detalles') }}
        </div>
        <div class="col-xl-3 col-md-6">
            {{ notificacion_basic('Warning Card', 'warning', 'Ver detalles') }}
        </div>
        <div class="col-xl-3 col-md-6">
            {{ notificacion_basic('Warning Success', 'success', 'Ver detalles') }}
        </div>
        <div class="col-xl-3 col-md-6">
            {{ notificacion_basic('Danger Card', 'danger', 'Ver detalles') }}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body">
                    <figure class="highcharts-figure">
                        <div id="containerAreaChart"></div>
                        <p class="highcharts-description">
                            Demonstrating a basic area chart, also known as a mountain chart.
                            Area charts are similar to line charts, but commonly used to visualize
                            volumes.
                        </p>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body">
                    <figure class="highcharts-figure">
                        <div id="containerBarChart"></div>
                        <p class="highcharts-description">
                            Chart showing stacked columns with grouping, allowing specific series to
                            be stacked on the same column. Stacking is often used to visualize
                            data that accumulates to a sum.
                        </p>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            {% include '@CajaSBAdminTheme/default/tables-bt.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}

{# https://www.highcharts.com/ #}
{# Liberia para realizar graficos #}
<script src="{{ asset('bundles/cajasbadmintheme/node_modules/highcharts/highcharts.js') }}"></script>

{# El siguiente modulo habilita las funcionalides para exportar a JPG, PNG, PDF, SVG #}
<script src="{{ asset('bundles/cajasbadmintheme/node_modules/highcharts/modules/exporting.js') }}"></script>

{# El siguiente modulo habilita las opciones: Download CSV, Download XLS y View data table en el menu #}
<script src="{{ asset('bundles/cajasbadmintheme/node_modules/highcharts/modules/export-data.js') }}"></script>

{# El siguiente modulo habilita algunas funciones de pantalla completa y dialogo de imprimir #}
<script src="{{ asset('bundles/cajasbadmintheme/node_modules/highcharts/modules/accessibility.js') }}"></script>

<script src="{{ asset('bundles/cajasbadmintheme/assets/demo/chart-area-demo.js') }}"></script>
<script src="{{ asset('bundles/cajasbadmintheme/assets/demo/chart-bar-demo.js') }}"></script>

{% endblock %}

