<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>
        {{ titulo_pagina | default('Sin título') }}
    </title>

    {% block stylesheets %}

        <!-- Tags ayuda -->
        {#    <link rel="stylesheet" href="{{ asset('bundles/app/css/tags-ayuda.css') }}" type="text/css"> #}

        <!-- Bootstrap icons -->
        <link href="{{ asset('bundles/cajasbadmintheme/node_modules/bootstrap-icons/font/bootstrap-icons.css') }}" rel="stylesheet"/>

        <!-- Bootstrap CSS + Theme CSS + Custom CSS -->
        <link href="{{ asset('bundles/cajasbadmintheme/css/styles.css') }}" rel="stylesheet"/>

        <!-- Font awesome -->
        <link href="{{ asset('bundles/cajasbadmintheme/node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet"/>

        <!-- Bootstrap Tables -->
        <link href="{{ asset('bundles/cajasbadmintheme/node_modules/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" />

        <!-- Select2 -->
        <!-- https://select2.org/ -->
        <link rel="stylesheet" href="{{ asset('bundles/cajasbadmintheme/node_modules/select2/dist/css/select2.min.css') }}" type="text/css">

        <!-- select2-bootstrap-5-theme -->
        <!-- https://apalfrey.github.io/select2-bootstrap-5-theme/ -->
        <link href="{{ asset('bundles/cajasbadmintheme/node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet" />

    {% endblock %}

    <link rel="icon" href="https://www.santafe.gob.ar/assets/standard/images/favicon.ico">

    {% block google_analytics %}
    {% endblock %}

</head>

<body class="{{ body_css is defined ? body_css : 'sb-nav-fixed' }}">
{% block body_content %}
    {% embed '@CajaSBAdminTheme/navbar/nav.html.twig' with { 'color' : 'light' } %}

        {#        {% block searchTop %}{% endblock %} #}

    {% endembed %}

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% block sidenav_accordion %}
                {% include '@CajaSBAdminTheme/sidenav/acordion_original.html.twig' with { 'color' : 'light' } %}
            {% endblock %}
        </div>
        <div id="layoutSidenav_content">
            {#        {% include '@CajaSBAdminTheme/sidenav/content_original.html.twig' %} #}
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">
                        {{ titulo_pagina | default('Sin título') }}
                    </h1>

                    {% block breadcrumb %}
                    {% endblock %}

                    {% block body %}

                    {% endblock %}
                </div>
            </main>


            {% include '@CajaSBAdminTheme/footer.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% include '@CajaSBAdminTheme/scripts.html.twig' %}

{% block ayuda_js %}
{% endblock %}

{% block usuarios_js %}
    {# Modal para mostrar información del usuario #}
{% endblock %}

<script>
    $(document).ready(function () {
        // Plugin para enmascarar:
        // https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html

        // Mascara para nro de expediente:
        $('.enmascarar-nro-expte').inputmask({
            //"mask": "*{1,3}[.*{8}]"
            "mask": "*{5}-*{7}-*{1}",
            "placeholder": "_"
        });

        $('.formato-plata').mask('000.000.000.000.000,00', {reverse: true});
        $('.formato-plata2').mask("#.##0,00", {reverse: true});


    });

</script>

{% endblock %}


</body>
</html>
